.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.label{
display:flex;
flex-direction: column;

}

.input{
width: 250px;
height: 40px;
padding-left: 15px;
border: 1px solid #2CD8D5;
border-radius: 36px;
color: #8E37D7;

}
.input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color:#6B8DD6;
}

.button{
margin-top: 10px;
width: 269px;
height: 44px;
border: 1px solid #2CD8D5;
border-radius: 36px;
font-style: normal;
font-weight: 500;
font-size: 14px;
color:#8E37D7;
}

.button:hover{
    background-color: #2CD8D5;
    color: #fff;
}