ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;   
  }


input, textarea {
  outline: none;
  border: none;
  background: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}